apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: security-system

resources:
  # Namespaces
  - namespaces.yaml
  
  # Istio Service Mesh
  - istio/namespace.yaml
  - istio/istio-operator.yaml
  - istio/peer-authentication.yaml
  - istio/authorization-policies.yaml
  
  # SPIRE Workload Identity
  - spire/server.yaml
  - spire/agent.yaml
  - spire/registration-entries.yaml
  
  # Vault Secrets Management
  - vault/namespace.yaml
  - vault/vault.yaml
  - vault/vault-agent-injector.yaml
  - vault/auth-methods.yaml
  
  # Keycloak Identity Provider
  - keycloak/namespace.yaml
  - keycloak/keycloak.yaml
  - keycloak/realm-config.yaml
  
  # OPA Gatekeeper
  - opa-gatekeeper/gatekeeper.yaml
  - opa-gatekeeper/constraint-templates.yaml
  - opa-gatekeeper/constraints.yaml
  
  # Kyverno Policies
  - kyverno/kyverno.yaml
  - kyverno/cluster-policies.yaml
  
  # Falco Runtime Security
  - falco/falco.yaml
  - falco/falco-rules.yaml
  
  # Network Policies
  - network-policies/default-deny.yaml
  - network-policies/allow-dns.yaml
  - network-policies/allow-monitoring.yaml

configMapGenerator:
  - name: security-config
    literals:
      - MTLS_MODE=STRICT
      - POLICY_ENFORCEMENT=DENY
      - AUDIT_LEVEL=RequestResponse

secretGenerator:
  - name: security-secrets
    type: Opaque
    literals:
      - placeholder=change-me

images:
  - name: hashicorp/vault
    newTag: "1.15"
  - name: quay.io/keycloak/keycloak
    newTag: "23.0"
  - name: falcosecurity/falco
    newTag: "0.37.0"

commonLabels:
  app.kubernetes.io/part-of: zero-trust-security
  app.kubernetes.io/managed-by: kustomize
