version: '3.8'

services:
  app:
    build: ./app
    ports:
      - "8000:8000"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4318
      - SERVICE_NAME=my-app
    depends_on:
      - jaeger
    networks:
      - tracing

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"  # UI
      - "4318:4318"    # OTLP HTTP
      - "14268:14268"  # Accept spans
    networks:
      - tracing

networks:
  tracing:
    driver: bridge
